<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" src="/js/src/homeFunctions.js"></script>
</head>
<body>
<form th:action="@{/submit}" method="post" id="layerForm">
  <div>
    <label for="layerName">Layer Name: </label>
    <input type="text" name="layerName"/>
    <br/>
  </div>
  <button type="button" onclick="addLayer(42)">Add Layer</button>
  <button type="submit">Submit</button>
</form>

</body>
</html>
